{% extends "users/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<h6>
		PLEASE FILL OUT CAREFULLY - INCORECT INFORMATION WILL GIVE INCORRECT REPORT READINGS!<br /><br />
    
        BIRTH NAME: Enter exactly as listed in your birth certificate, even if you have never used it.
        Do not enter space, hyphens, jr., III, etc
	
	</h6>
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}