<!DOCTYPE html>
<html>

	<head>
	  {% block links %}
		  <!-- Bootstrap CSS -->
		  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		  <!-- jQuery script-->
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <!--Import materialize.css-->
		  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
		  <!--Let browser know website is optimized for mobile-->
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  {% endblock %}
	</head>

	<body>
	
		<div class="">
            {% block content %}{% endblock %}
        </div>
	
	
	
	
		{% block scripts %}
		<!-- our own contact JS script -->
		<!--script src="{{ url_for('static', filename='scripts/contact.js') }}"></script-->
		<!-- necessary script to execute jQuery code -->
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<!-- jQuery validation is not included in the script above, so needs to be explicitly included -->
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<!-- Bootstrap HTML framework -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- Materialize CSS framework -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
		<script>
			function modular_ajax(url, type, formData) {
				// Most simple modular AJAX building block
				$.ajax({
					url: url,
					type: type,
					data: formData,
					processData: false,
					contentType: false,
					beforeSend: function() {
						// show the preloader (progress bar)
						$('#form-response').html("<div class='progress'><div class='indeterminate'></div></div>");
					},
					complete: function () {
						// hide the preloader (progress bar)
						$('#form-response').html("");
					},
					success: function ( data ){
						if ( !$.trim( data.feedback )) { // response from Flask is empty
							toast_error_msg = "An empty response was returned.";
							toast_category = "danger";
						}
						else { // response from Flask contains elements
							toast_error_msg = data.feedback;
							toast_category = data.category;
						}
					},
					error: function(xhr) {console.log("error. see details below.");
						console.log(xhr.status + ": " + xhr.responseText);
						toast_error_msg = "An error occured";
						toast_category = "danger";
					},
				}).done(function() {
					M.toast({html: toast_error_msg, classes: 'bg-' +toast_category+ ' text-white'});
				});
			};

			var csrf_token = "{{ csrf_token() }}";
			console.log('csrf_token = ' + csrf_token);
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrf_token);
					}
				}
			});

			//############################## send form start ###########################
			function send_form(form, form_id, url, type, inner_ajax, formData) {
				// form validation and sending of form items

				if ( form[0].checkValidity() && isFormDataEmpty(formData) == false ) { // checks if form is empty
					event.preventDefault();

					// inner AJAX call
					inner_ajax(url, type, formData);

				}
				else {
					// first, scan the page for labels, and assign a reference to the label from the actual form element:
					var labels = document.getElementsByTagName('LABEL');
					for (var i = 0; i < labels.length; i++) {
						if (labels[i].htmlFor != '') {
							 var elem = document.getElementById(labels[i].htmlFor);
							 if (elem)
								elem.label = labels[i];
						}
					}

					// then find all invalid input elements (form fields)
					var Form = document.getElementById(form_id);
					var invalidList = Form.querySelectorAll(':invalid');

					if ( typeof invalidList !== 'undefined' && invalidList.length > 0 ) {
						// errors were found in the form (required fields not filled out)

						// for each invalid input element (form field) return error
						for (var item of invalidList) {
							M.toast({html: "Please fill the "+item.label.innerHTML+"", classes: 'bg-danger text-white'});
						}
					}
					else {
						M.toast({html: "Another error occured, please try again.", classes: 'bg-danger text-white'});
					}
				}
			}


			function isFormDataEmpty(formData) {
				// checks for all values in formData object if they are empty
				for (var [key, value] of formData.entries()) {
					if (key != 'csrf_token') {
						if (value != '' && value != []) {
							return false;
						}
					}
				}
				return true;
			}

			//############################## send form ends ###########################

			$('#contact-form-button').click(function(event){
				// Prevent redirection with AJAX for contact form
				var form = $('#contact-form');
				var form_id = 'contact-form';
				var url = form.prop('action');
				var type = form.prop('method');
				var formData = getContactFormData(form_id);

				// submit form via AJAX
				send_form(form, form_id, url, type, modular_ajax, formData);
			});

			function getContactFormData(form) {
				// creates a FormData object and adds chips text
				var formData = new FormData(document.getElementById(form));
			//    for (var [key, value] of formData.entries()) { console.log('formData', key, value);}
				//console.log('formData = ' + formData);
				return formData
			}
		</script>
		{% endblock %}
	
	</body>
</html>