<!doctype html>
<html>

<head>
    <!--<style>
	    
	</style>-->
    
</head>

<body>
    
	
	<div class="container1">
	    <form action="{{ url_for('transit.eph') }}" method="POST">
	        
        	<p>Enter Ephemeris</p>
        	
        	<div class="columns">
        	    <div class="col">
        	      <p><input type="text" name="year" id="year" placeholder="enter year" required /></p>
        	    </div>
        	    <div class="col">
        	        <p><input type="text" name="start" id="start" placeholder=" start month" required /></p>
        	    </div>
        	</div>
        
        	<p><input type="submit" value="submit" /></p>
	    </form>
	</div>
</body>

</html>