<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Princely.men</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <!-- goggle fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&amp;display=swap" rel="stylesheet" />
    <!-- styles css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <!-- header  -->
    <header id="home">
      <!-- navbar -->
        <nav class="navbar">
            <div class="nav-center">
              <!-- nav header -->
              <div class="nav-header">
                <h4 class="nav-logo">Princely<span class="subtitle">.men</span></h4>
                <!--<img src="./images/logo.svg" class="nav-logo" alt="" />-->
                <button
                  type="button"
                  class="nav-toggle"
                  id="nav-toggle"
                  aria-label="nav toggler "
                >
                  <i class="fas fa-bars"></i>
                </button>
              </div>
              <!-- end of nav header -->
              
              <!-- nav links -->
              <div class="nav-links" id="nav-links">
                <!-- single link -->
                <a href="#home" class="scroll-link nav-link">
                  home
                </a>
                <!-- end of single link -->
                <!-- single link -->
                <a href="#about" class=" scroll-link nav-link">
                  about
                </a>
                <!-- end of single link -->
                <!-- single link -->
                <a href="#services" class="nav-link scroll-link">
                  numerology
                </a>
                <!-- end of single link -->
                <!-- single link -->
                <a href="#featured" class="nav-link scroll-link">
                  astrology
                </a>
                <!-- end of single link -->
                <!-- single link -->
                <a href="#gallery" class="nav-link scroll-link">
                  tarot
                </a>
                <!-- end of single link -->
              </div>
              <!-- end of nav links -->
              
              <!-- nav social media icons -->
              <!-- footer icons -->
              <div class="nav-icons">
                <a href="https://web.facebook.com/churchspiritual" target="_blank" class="nav-icon"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="nav-icon"><i class="fab fa-twitter"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="nav-icon"><i class="fab fa-linkedin"></i></a>
              <!-- end of nav social media icons -->
            </div>
            </div>
        </nav>
    
    <!-- about section -->
    <section class="section about" id="about">
      <!-- title  -->
      <div class="title-wrapper">
        <h2 class="title">about <span class="subtitle">princely</span></h2>
      </div>
      <!-- end of title  -->
      <!-- about-center -->
      <div class="section-center about-center">
        <!-- about img wrapper-->
        <div class="about-img">
          <img
            src="{{ url_for('static', filename='images/adverchess714x308.jpg') }}"
            class="about-photo"
            alt="about princely"
          />
        </div>
        <!-- about info -->
        <article class="about-info">
          <h3>psychic</h3>
          <p>
            The journey to self-discovery
          </p>
          <p>
			This is your moment of self-discovery.
			Remember, each life is developed from its own <em>potentials</em> and each of us
			can deal only with the potentials we possess.
			You can only express, at best, the highest level of your own potentials.
			It will not benefit you to compare yourself (or anyone else) with others.
			People have their own potentials and are operating only within those contexts ... discover you potentials now.
			
		  <!--
		   
		   It's good to start with money. Our finace calls for all time attention but not all is ment to acquire money.
				Some of us are ment to surfare money acquization.
            
            all seek love, but love itself has pattern what works for him may not work for you.
				And the only way to be fulfiled is to know your own pattern.
				
				What you call power may not be your true definition of your power. Like everything else,
				power, the one power in you if discovered, will bring true happiness to you.
           -->
          </p>
		  <p>
			<strong>If a certain time have come into your life when things looks like they are 
			not as you want and "YOU NEED ANSWERS" or may be you want to activate things, that what I will show you how to do. Just call me now </strong>
			...<em>for the right direction on what to do, how to do it and when to do it.</em>
		  </p>
		  <p>To give a hint of what am capable, to learn how this <strong>"YEAR"</strong> will look, check out my <em>event of the year section</em> when you register.</p>
          <a href="{{ url_for('main.profile') }}" class="btn-primary">ask your question here</a>
		  
        </article>
      </div>
    </section>
    <!-- end of about section -->
	
    <!-- contact -->
    <section class="section deals" id="deals">
      <!-- title  -->
      <div class="title-wrapper">
        <h2 class="title">hot <span class="subtitle ">deals</span></h2>
      </div>
      <!-- end of title  -->
	  
      <form>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="your email" />
          <button type="submit" class="btn-submit">submit</button>
        </div>
      </form>
    </section>
    <!-- end of contact -->
	
    <!-- footer -->
    <footer class="section footer">
      <!-- footer links -->
      <div class="footer-links">
        <a href="#home" class="footer-link scroll-link">home</a>
        <a href="#about" class="footer-link scroll-link">about</a>
        <a href="#services" class="footer-link scroll-link">numerology</a>
        <a href="#featured" class="footer-link scroll-link">astrology</a>
        <a href="#gallery" class="footer-link scroll-link" scroll-link>tarot</a>

      </div>
      <!-- footer icons -->
      <div class="footer-icons">
        <a href="https://web.facebook.com/churchspiritual" target="_blank" class="footer-icon"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.twitter.com" target="_blank" class="footer-icon"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.twitter.com" target="_blank" class="footer-icon"
          ><i class="fab fa-linkedin"></i
        ></a>
      </div>
      <p class="copyright">
        copyright &copy; Princely.men
        <span id="date"></span>. all rights reserved
      </p>
    </footer>
    <!-- js -->
{% block scripts %}
    <script>
        // ********** set date ************
		// select span
		const date = (document.getElementById(
		  "date"
		).innerHTML = new Date().getFullYear());

		// ********** nav toggle ************
		// select button and links
		const navBtn = document.getElementById("nav-toggle");
		const links = document.getElementById("nav-links");
		// add event listener
		navBtn.addEventListener("click", () => {
		  links.classList.toggle("show-links");
		});
		// ********** navbar fixed ************
		const navbar = document.querySelector(".navbar");

		window.addEventListener("scroll", () => {
		  if (window.pageYOffset > 62) {
			navbar.classList.add("fixed");
		  } else {
			navbar.classList.remove("fixed");
		  }
		});

		// ********** smooth scroll ************
		// select links
		const scrollLinks = document.querySelectorAll(".scroll-link");
		scrollLinks.forEach(link => {
		  link.addEventListener("click", e => {
			// prevent default
			e.preventDefault();
			links.classList.remove("show-links");

			const id = e.target.getAttribute("href").slice(1);
			const element = document.getElementById(id);
			//
			let position;
			if (navbar.classList.contains("fixed")) {
			  position = element.offsetTop - 62;
			} else {
			  position = element.offsetTop - 124;
			}
			if (window.innerWidth < 992) {
			  if (navbar.classList.contains("fixed")) {
				position = element.offsetTop - 62;
			  } else {
				position = element.offsetTop - 332 - 62;
			  }
			}
			window.scrollTo({
			  left: 0,
			  // top: element.offsetTop,
			  top: position,
			  behavior: "smooth"
			});
		  });
		});
    </script>
{% endblock %}
  </body>
</html>