{% extends "base-muritum.html" %}

{% block content %}

    <style>
        table {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            border: thin solid black;
            caption-side: top;
            border-collapse: collapse;
            }
        table table th {
            background-color: white;
        }
        td, th {
            border: thin dotted gray;
            padding: 5px;
            }
        caption {
            font-style: italic;
            padding-top: 8px;
            margin-bottom: 20px;
            }
        th {
            font-family: Verdana, Geneva, Arial, sans-serif;
            font-size: small;
            background-color: #cc6600;
        }
        .cellcolor {
            background-color: #fcba7a;
            }
        .center {
            text-align: center;
            }
        .right {
            text-align: right;
            }
		/* pop css */
		/* Popup container - can be anything you want */
		.popup {
		  position: relative;
		  /*display: inline-block;*/
		  cursor: pointer;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}
		/* The actual popup */
		.popup .popuptext {
		  visibility: hidden;
		  width: 400px;
		  background-color: #555;
		  color: #fff;
		  text-align: center;
		  border-radius: 6px;
		  padding: 0 2rem;
		  position: absolute;
		  z-index: 1;
		  /*bottom: 125%;
		  left: 50%;
		  margin-left: -80px;*/
		}
		/* Popup arrow */
		/*.popup .popuptext::after {
		  content: "";
		  position: absolute;
		  top: 100%;
		  left: 50%;
		  margin-left: -5px;
		  border-width: 5px;
		  border-style: solid;
		  border-color: #555 transparent transparent transparent;
		}*/
		/* Toggle this class - hide and show the popup */
		.popup .show {
		  visibility: visible;
		  -webkit-animation: fadeIn 1s;
		  animation: fadeIn 1s;
		}

		/* Add animation (fade in the popup) */
		@-webkit-keyframes fadeIn {
		  from {opacity: 0;} 
		  to {opacity: 1;}
		}

		@keyframes fadeIn {
		  from {opacity: 0;}
		  to {opacity:1 ;}
		}
		/* pop css ends*/
    </style>
	
    <table>
        <caption>
            Your life revolves around these numbers.
        </caption>
        
        <tr>
            
            <th>Destiny number</th>
            <th>Birth force</th>
            <th>Heart desire</th>
            <th>Personality</th>
            <th>Realiy number</th>
            
        </tr>
        <tr>
            <td class="center popup" id="myFunction"><span class="exp">{{ exp11 }}</span>
				<span class="popuptext" id="myPopup">
					
				</span>
				
			</td>
			
			
			
            <td class="center">{{ lp }}</td>
            <td class="center">{{ sU }}</td>
            <td class="center">{{ iM1 }}</td>
            <td class="center">{{ Mrity }}</td>
            
        </tr>
        </table>
        <!--plane table-->
        
        <table>
            <caption>how you respond to life and its issues</caption>
            <tr>
                <th>Phy(4|5)</th>
                <th>Men(1|8)</th>
                <th>emot(2|3|6)</th>
                <th>intt(7|9)</th>
                
            </tr>
            <tr>
                <td class="center">{{ phy }}</td>
                <td class="center">{{ men }}</td>
                <td class="center">{{ emo }}</td>
                <td class="center">{{ intt }}</td>
            </tr>
        </table>
        <!--intensifiers table-->
        <table>
            <caption>special talents, which may be hidden</caption>
            <tr>
                <th>one(3|4)</th>
                <th>two(1)</th>
                <th>thre(1)</th>
                <th>four(1)</th>
                <th>five(3|4)</th>
            </tr>
            <tr>
                <td class="center">{{ one }}</td>
                <td class="center">{{ two }}</td>
                <td class="center">{{ thr }}</td>
                <td class="center">{{ fou }}</td>
                <td class="center">{{ fiv }}</td>
            </tr>
            
            <tr>
                <th>six(1)</th>
                <th>sev(0)</th>
                <th>eig(0|1)</th>
                <th>nine(3+)</th>
            </tr>
            <tr>
                <td class="center">{{ six }}</td>
                <td class="center">{{ sev }}</td>
                <td class="center">{{ eig }}</td>
                <td class="center">{{ nin }}</td>
            </tr>
    </table>
    <table>
        <tr>
            <th>point of security</th>
        </tr>
        <tr>
            <td class="center">{{ ps }}</td>
        </tr>
    </table>
    <!--chalenge table-->
    <table>
        <caption>what you must work to overcome in life</caption>
        <tr>
            <td rowspan="4">challenge</td>
            <td class="center">{{ cH }}</td>
        </tr>
        <tr>
            <td class="center">{{ cH1 }}</td>
        </tr>
        <tr>
            <td class="center">{{ cH2 }}</td>
        </tr>
        <tr>
            <td class="center">{{ cH3 }}</td>
        </tr>
    </table>
    <table>
        <caption>
            Transit Of The Year {{ year_now }} <br />
            This how this year will manifest.
        </caption>
        
        <tr>
            <th>Essence</th>
            <th>Pynum</th>
            <th>uniynum</th>
            <th>pina</th>
            
        </tr>
        <tr>
            <td class="center">{{ Essence }}</td>
            <td class="center">{{ pynum }}</td>
            <td class="center">{{ uniynum }}</td>
            <td class="center">{{ pina }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>pmonth</th>
            <th>uniday</th>
            <th>pday</th>
            <th>RC</th>
        </tr>
        <tr>
            <td class="center">{{ pmonth }}</td>
            <td class="center">{{ uniday }}</td>
            <td class="center">{{ pday }}</td>
            <td class="center">{{ rc }}</td>
        </tr>
    </table>
    <table>
    
        <tr>
            <td rowspan="2">day karma{{ k_day }}</td>
            <td class="center">General pinnacle for the month</td>
            <td class="center">{{ Gpina }}</td>
        </tr>
        <tr>
            <td class="center">General challenge for the month</td>
            <td class="center">{{ Gcha }}</td>
        </tr>
    </table>
    <!--persoanl-->
    <table>
        <tr>
            <td rowspan="2">pday karma{{ k_pday }}</td>
            <td class="center">Personal pinnacle for the month</td>
            <td class="center">{{ Gper_pi }}</td>
        </tr>
        <tr>
            <td class="center">Personal challenge for the month</td>
            <td class="center">{{ Gper_cha }}</td>
        </tr>
    </table>
	
    <ul>
        <li>1. individuality,independance,attainment</li>
        <li>2. relasionship,cooperation</li>
        <li>3. expression,joy of living</li>
        <li>4. limitation,order,service</li>
        <li>5. constructive freedom</li>
        <li>6. balance,responsibility</li>
        <li>7. analysis,understanding</li>
        <li>8. material sactifaction</li>
        <li>9. selflessness,humanitarianism</li>
    </ul>
	<div id="txtHint"></div>
	
	{% block javascript %}
		<script>
			const myFunction = document.getElementById("myFunction");
			const myPopup = document.getElementById("myPopup");
			const myPopupb4Inner = document.getElementsByClassName("popup")[0];
			//console.log(myPopupb4Inner);
			const myPopupInner = myPopupb4Inner.getElementsByClassName("exp")[0].innerText;
			//console.log(myPopupInner);
			
			myFunction.addEventListener("click", (e) => {
				//send an AJAX request
				const xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						const text = this.responseText;
						myPopup.innerHTML = `
						<!-- this is the popup text -->
						<h4>Destiny Number  ${myPopupInner}</h4>

						<P>
							${text}
						</P>
						
						<hr>
						<!-- this is the popup text ending-->`
					}
				}
					
				xhttp.open("GET", "http://localhost:5000/api/num/"+myPopupInner, true);
				xhttp.send();
				//send an AJAX request ends
				
				
				
				myPopup.classList.toggle("show");
			});
		</script>
    {% endblock %}
{% endblock %}