{% extends "base-fine.html" %}

{% block content %}
	<!-- about section -->
	<section class="section about" id="about">
	  <!-- title  -->
	  <div class="title-wrapper">
		<h2 class="title">payment <span class="subtitle">successful</span></h2>
	  </div>
	  <!-- end of title  -->
	  <!-- about-center -->
	  <div class="section-center about-center">
		<!-- about img wrapper-->
		<div class="about-img">
		  <img
			src="{{ url_for('static', filename='img/ravebanner.png') }}"
			class=""
			alt="payment successful"
		  />
		</div>
		<!-- about info -->
		<article class="about-info">
		  <h3></h3>
		  <p>
			Your payment was successful and you will be credited in a moment. Thank you.
		  </p>
		  
		  <a href="{{ url_for('main.profile') }}" class="btn-primary">ask your question here</a>
		  
		</article>
	  </div>
	</section>
	<!-- end of about section -->
{% endblock %}