<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <meta name="viewport" content="width=device-width initial-scale=1"><meta name="author" content="princely okwuego">
        <meta name="description" content= "To find answers to your inner heart desires, lies with spiritual awakening and 
        this will help you open new horizons for love, money, wealth power - A happy life is here.">
    	<meta name="keywords" content="spiritual, self-discovery, numerology reading, spiritual help and healing, 
    	spiritual counseling, astrology, spiritual awakening.">
    	
    	<script data-ad-client="ca-pub-0990001021600854" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    	<link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,700&amp;display=swap" rel="stylesheet" />
    	<link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet" />
    	<link href="{{ url_for('static', filename='style-muritum.css') }}" rel="stylesheet" />
    	<title>Ritum49s</title>
    	
    	<style>
        .button {
          background-color: #4CAF50;
          border-radius: 25px;
          border: none;
          color: white;
          padding: 7px 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        h4{
            color: red;
        }
        .col-1{
            width: 65%;
        }
        .col-2{
            width: 50%;
        }
        .col-3{
            width: 35%;
        }
        
        @media (max-width: 675px) {
        	.col-1{
                width: 100%;}
            .col-2{
                width: 100%;
            }
            .col-3{
                width: 100%;
            }
        }
        </style>
    </head>
    <body>
        <header>
            <div class="container container-flex">
                <div class="site-title">
                <h1>Minimis AstroPsychic</h1>
            
                <p class="subtitle">Your Spiritual Counselor</p>
                </div>
                
                <nav>
                    <ul>
    			        <li><a href="{{ url_for('main.index') }}"><i class="fas fa-home"></i>Home</a></li>
        				<li><a href=""><i class="fas fa-user-circle"></i>Blog</a></li>
        				<li><a href=""><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    			    </ul>
                </nav>
            </div><!--close container-->
        </header>
    
        <div class="container container-flex">
            <div class="col-1">
                <h2>Hi, {{ current_user.username }}</h2>
                <h3>You have {{ current_user.number_of_questions }} questions</h3>
                <h4>
                    {{ msg }}
                </h4>
                
				<form action="" method="POST">
                    <textarea name="ask" rows="5" cols="38" placeholder="Enter Your Question here..." required></textarea><br>
                    <p><input type="submit" value="ASK QUESTION" /></p>
                </form>
        	
                <p>To get extra questions choose optional below</p>
                
                <div>
                    <p>
						<select name="menu1" id="menu1">
							<option value="https://flutterwave.com/pay/1question">Buy Question</option>
							<option value="https://flutterwave.com/pay/5questions">5 QUESTION N2,410.00</option>
							<option value="https://flutterwave.com/pay/10questions">10 QUESTION N4,170.00</option>
							<option value="https://flutterwave.com/pay/1question">1 QUESTION N740.00</option>
						</select>
					</p>
                    <img alt="ravebanner" class="" src="{{ url_for('static', filename='img/ravebanner.png') }}" />
                </div>
            </div>
            
            <div class="col-2">
	            <!--<p>
                    Dear user, I have noted you recently joined CS astrology, but you have not asked your free question yet. 
                    I am your astrologer, and I am ready to make a personal prediction for you.
                    Please note that to get most of astrology it's important to ask right questions. 
                    Below I put some examples that can help you. Enjoy your fate!
                </p>-->
                <h3>For how to ask good question</h3>
                <p>1. When will I meet my future husband/wife?</p>
                <p>2. When will I get married?</p>
                <p>3. What career is good for me?</p>
                <p>4. Is my current partner (birth place, date, time) my soulmate?</p>
                <p>5. Love life prediction for next month.</p>
                <p>6. Am I on a right path? Which would be a good path for me?</p>
                <p>7. When is right time for me to get abroad?</p>
	        </div>
        
            <div class="col-3">
                <h3>
                    <i class="fas fa-user"></i>
                    My Acount
                </h3>
                <a class="" href="">Edit Profile</a><br>
                <a class="" href="">Change Password</a>
                <h3>
                    <i class="fas fa-file"></i>
                    My Free Reports
                </h3>
                <a class="" href="{{ url_for('main.reading1') }}">Speed Reading</a><br>
                <a class="" href="{{ url_for('main.reading') }}">Mini Reading</a><br>
                <a class="" href="{{ url_for('main.event') }}">Event Of The Year</a>
                <h3>
                    <i class="fas fa-file"></i>
                    Full Birth Report
                </h3>
                <a class="" href="">Full Reading</a><br>
                <h3>
                    <i class="fas fa-file"></i>
                    Contact Me
                </h3>
                <a class="" href="">support@wec.org.ng</a><br>
                <a class="" href="">08136767311</a><br>
            </div>
        </div>
        <!-- paste ad here -->
    
        <div><!-- Go to www.addthis.com/dashboard to customize your tools --><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51cae2b827410f6d"></script></div>
		
		<!-- Link open to buy questions -->
		<script type="text/javascript">
             var urlmenu = document.getElementById( 'menu1' );
             urlmenu.onchange = function() {
                  window.open( this.options[ this.selectedIndex ].value );
             };
        </script>
    
        <footer>
            <p><strong>Spiritual counseling will keep your life as simple as possible</strong></p>
            <!--<p>Images are Painting by <a href="https://androidjones.com/" class="article-read-more">Android Jones</a></p>-->
            
            <p>9minimis Copyright 2019 - {{year_now}}</p>
        </footer>
        
    </body>
</html>