{% extends "base-muritum.html" %}

{% block content %}
    <style>
        h4 {color: #008CBA;}
        p3 {color: #ff6347;}
        p4 {color: #0000ff;}
    </style>
    <h1>Hi, {{ FN }} </h1>

    <p1>This Is Your Personality Profile</p1>
    <h1>SUMMARY</h1>
    <h5>
        Birth Name: {{ FN }} {{ MN }} {{ LN }}<br>
        Short Name: {{ FN1 }} {{ MN1 }} {{ LN1 }}<br>
       {% for key, value in b_t_ms.items() %}
        {% if key == btm %}
        Birth Date: {{ btd }} {{ value }}, {{ bty }}.
        {% endif %}
        {% endfor %}
    </h5>
    <h5>
        Your Expression: {{ exp }}/{{ exp11}}<br>
        Your Heart's Desire: {{ sU1 }}/{{ sU}}<br>
        Your Personality: {{ iM }}/{{ iM1 }}<br>
        Your Heart's Desire - Personality Bridge: {{ hP }}<br>
        Your Life Path: {{ ln }}/{{ lp }}<br>
        Your Birthday: {{ btd1 }}/{{ bd1 }}<br>
        Your Life Path - Birthday Bridge: {{ lb }}<br>
        Your Year Number: {{ py_num }}
    </h5>

    <h1>Challenges</h1>
    <h5>
        Your First Challenge: {{ cH }}<br>
        Your Second Challenge: {{ cH1 }}<br>
        Your Third Challenge: {{ cH2 }}<br>
        Your Fourth Challenge: {{ cH3 }}<br>
    </h5>

    <h5>
        Your Life Path - Expression Bridge: {{ LEB }}<br>
        Your Maturity: {{ Mrity }}

    </h5>

    <h1>Karmic Lessons</h1>
    <h5>
        You have a Karmic Lesson of {{ cha }}<br>
        {% if cha %}
        {% else %}
        <i>{{ nocha }}</i>
        {% endif %}
    </h5>
    <hr>
    <hr>

    <h3>
        Your Life Path Number
    </h3>

    <i>
        This number indicates the focus of your life in Numerological terms.
        Numerologists who believe in re-incarnation say that the number represents
        the main lesson which you must learn in this life.
    </i>
        <h4>Your Life Path is {{ ln }}/{{ lp }}<br></h4>

        {% for k, v in life_number.items()%}
        {% if k == lp %}
        {{ v }}<br>
        {% endif %}
        {% endfor %}
        {% for k, v in debt.items()%}
        {% if k == karma %}
        {{ v }}<br>
        {% endif %}
        {% endfor %}
    <hr>
    <h3>
        Your Expression Number
    </h3>

    <i>
        This is an indicator of your inborn abilities and talents (we all have them!)
    </i>

       <h4>Your Expression is {{ exp }}/{{ exp11}}<br></h4>

        {% for k, v in your_personal.items()%}
        {% if k == exp11 %}
        {{ v }}<br>
        {% endif %}
        {% endfor %}
        {% for k, v in debt.items()%}
        {% if k == karma1 %}
        {{ v }}<br>
        {% endif %}
        {% endfor %}
    <hr>
    
    <h3>
        Your Maturity Number
    </h3>

    <i>
        Your Maturity number indicates an underlying wish or desire that gradually surfaces at around age 30 to 35.
        A direction begins to emerge as you gain a better understanding of yourself. With this self-knowledge comes
        a greater awareness of who you are, and the direction you want to set for your life. Your Maturity numbers are
        described in detail in your Personality Profiles.
    </i>
      <h4>Your Maturity is {{ Mrity }}<br></h4>

        {% for k, v in real.items()%}
        {% if k == Mrity %}
        {{ v }}
        {% endif %}
        {% endfor %}
    <hr>
    
    <h3>
        Your Heart's Desire Number
    </h3>

    <i>
        This is the Numerological reference to your
        basic motivation and desires.
    </i>
      <h4>Your Heart's Desire is {{ sU1 }}/{{ sU}}<br></h4>

        {% for k, v in hearts_d.items()%}
        {% if k == sU %}
        {{ v }} <br>
        <p><a href="#">Read more</a> | <a href="http://bit.ly/2MGkL2j">comments</a></p>
        {% endif %}
        {% endfor %}
    <hr>
    
    <h3>
        Your Personality Number
    </h3>

    <i>
        This represents the impression which you project to
        other people.
    </i>
      <h4>Your Personality is {{ iM }}/{{ iM1 }}<br></h4>

        {% for k, v in image_num.items()%}
        {% if k == iM1 %}
        {{ v }}
        {% endif %}
        {% endfor %}
    <hr>
    
    <h3>
        Your Birth Day Number
    </h3>

    <i>
        This number is believed by some Numerologists to
        represent our hidden side. It can be an influence on your life but we
        generally place much more significance on the Life Number which is
        sometimes referred to as the "Ruling" Number.
    </i>
       <h4>Your Birthday is {{ btd1 }}/{{ bd1 }}<br></h4>

        {% for k, v in bddict.items()%}
        {% if k == bd1 %}
        {{ v }}<br>
        {% endif%}
        {% if k == bd22 %}
        {{ v }}
        {% endif%}
        {% endfor %}
        {% for k, v in debt.items()%}
        {% if k == karma2 %}
        {{ v }}<br>
        {% endif %}
        {% endfor %}
    <hr>

    <h3>
        Your Year Number
    </h3>

    <i>
        This number changes each year through a nine-year
        cycle. The effect represented by the calculated number can be enhanced or
        reduced by the actions and focus of the individual as well as their
        environment.
    </i>
       <h4>Your Year Number is {{ py_num }}<br></h4>

        {% for k, v in year_num.items()%}
        {% if k == py_num %}
        {{ v }}
        {% endif%}
        {% endfor %}
    <hr>
    
    <h3>
        Your Life Lesson Number
    </h3>

    <i>
        The Lessons are gaps in our knowledge or character which may cause
        problems for us if we do not work to remove or at least reduce our weakness
        in these areas. They are indicated by the absence of particular numbers from our full name
        which we are given at birth.
    </i>
       <h4>Your Life Lesson Number: {{ cha }}<br></h4>

        {% for k, v in lesson.items()%}
        {% if k in cha %}
        {{ v }}<br>
        {% endif%}
        {% endfor %}
    <hr>
    <!---->
    <i>
        As with almost everything in the natural world, there are cycles in your life.
        Numerologists try to point these out so that you can take the best advantage
        of them. Most numerologists agree that these points, referred to as "Peaks", are likely
        to be very significant in our lives. They may have a negative or positive
        emphasis, but even the most negative can be dealt with if you are prepared and confident about your own abilities.
        The way you handle each of them can have a strong influence on how well
        you travel to your next peak. I believe that "Peaks" may not be the best description because these years
        do not necessarily represent the best years of your life. They are important
        milestones that mark out the beginning of different periods on your journey
        through life.
    </i>
    <h3>
        Your First Peak Number
    </h3>

    <i>
        This Peak marks when you start to reach Numerological maturity even though you
        reached biological, physical, and mental maturity many years before this Peak.
        You may not handle the aspects of your life related to your first peak to your best
        advantage. A little patience and being sensitive to the reactions of other people close
        to you can help make everything go more smoothly.
    </i>
       <h4>Your First Peak Number is {{ p1 }}<br></h4>

       It starts at the age of {{ p11 }} years.
        {% for k, v in peak.items()%}
        {% if k == p1 %}
        {{ v }}<br>
        {% endif%}
        {% endfor %}
    <hr>
    
    <h3>
        Your Second Peak Number
    </h3>

    <i>
        During the period after you reach the second peak in your life, you will feel a
        greater need to give more of yourself, both personally and from your physical and
        financial resources, to help other people. This can be a testing time for you.
    </i>
       <h4>Your Second Peak Number is {{ p2 }}<br></h4>

       It starts at the age of {{ p22 }} years.
        {% for k, v in peak.items()%}
        {% if k == p2 %}
        {{ v }}<br>
        {% endif%}
        {% endfor %}
    <hr>
    
    <h3>
        Your Third Peak Number
    </h3>

    <i>
        After attaining the third Peak in your life, you should start to consolidate your
        emotional and financial position so that you are ready to take best advantage of the
        possibilities you will get in the usually more leisurely period after reaching the fourth peak.
        That’s because you may have to depend more on accumulated resources in that period.
    </i>
       <h4>Your Third Peak Number is {{ p3 }}<br></h4>

       It starts at the age of {{ p33 }} years.
        {% for k, v in peak.items()%}
        {% if k == p3 %}
        {{ v }}<br>
        {% endif%}
        {% endfor %}
    <hr>
    
    <h3>
        Your Fourth Peak Number
    </h3>

    <i>
        This Peak signals a period when you will probably have more
        opportunity to expand your knowledge and share it with others.
        You will have to depend on yourself more. You need to look after your health and keep
        a careful eye on your financial situation. But, don’t let worry or fear reduce your
        enjoyment of each day and take advantage of opportunities. They will still present
        themselves if you maintain a positive focus and continue to reach out to other people.
        This one will, according to the best numerologists, have an influence through
        the rest of your life.
    </i>
       <h4>Your Fourth Peak Number is {{ p4 }}<br></h4>

       It starts at the age of {{ p44 }} years.
        {% for k, v in peak.items()%}
        {% if k == p4 %}
        {{ v }}<br>
        {% endif%}
        {% endfor %}
    <hr>
    <hr>
    
    <p3><h3>
        This concludes your free reading, which is the first partial-part of our full Personality Profile, available in either subscription.
        Your complete Personality Profile adds significant aspects about you, including your Life Path, Heart's Desire, Challenges,
        Long Term Cycles, Karmic Lessons, and Survival Aptitude.
    </h3></p3>
    <a href=""><p4><h4>Click Here to Full Reading</h4></p4></a>
    <hr>
    <a href="https://facebook.com/churchspiritual">For Comments</a>

{% endblock %}