{% extends "base-muritum.html" %}

{% block content %}
    <style>
        .columns{
            display: flex;
            flex-direction: row;
        }
        .col-1{
            margin-right: 100px;
        }
    </style>


    <h1>Hi, {{ FN }}!</h1>
    <p>Your Lucky Number is: {{ lp }}</p>
    
    <p>
        The reason no body is perfect is because of the chart you see below
        anyone who have all the numbers as it is below should be perfect otherwise,...
        so compare it with your own below as I will interprete.
    </p>
    <div class="columns">
        <div class="col-1">
            <h2>
                3 6 9 <br>
                2 5 8 <br>
                1 4 7 <br>
            </h2>
        </div>
        <div class="col">
            <h2>
                {{ C }} {{ F }} {{ I }} <br>
                {{ B }} {{ E }} {{ H }} <br>
                {{ A }} {{ D }} {{ G }} <br>
            </h2>
        </div>
    </div>
	
    <p>{{ R0all }}</p>
    <p>{{ R1all }}</p>
    <p>{{ R2all }}</p>
    <p>{{ R3all }}</p>
    <p>{{ R4all }}</p>
    <p>{{ R5all }}</p>
    <p>{{ R6all }}</p>
    <p>{{ R7all }}</p>
	
	<!--<p>Power Line missing</p>-->
    {% for k,v in missing_numbers.items(): %}
    {% if k not in p: %}
    <p>{{ v }}</p>
    {% endif %}
    {% endfor %}
	<!--<p>Power Line missing Ends</p>-->
	
	<p>Power Line bash</p>
    <p>{{ bash1 }}</p>
    <p>{{ bash2 }}</p>
    <p>{{ bash3 }}</p>
    <p>{{ bash4 }}</p>
    <p>{{ bash5 }}</p>
    <p>{{ bash6 }}</p>
    <p>{{ bash7 }}</p>
    <p>{{ bash8 }}</p>
    <p>{{ bash9 }}</p>
	<!--<p>Power Line bash Ends</p>-->

    <p3><h3>
        This concludes your free reading, which is the first partial-part of our full Personality Profile,
        available in Mini-Raeding and Full-Reading.
        Your complete Personality Profile adds significant aspects about you, including your Life Path, Heart's Desire, Challenges,
        Long Term Cycles, Karmic Lessons, and Survival Aptitude. <!--(See the additional chapters listed below)-->
    </h3></p3>
    
    <a href="https://rave.flutterwave.com/pay/mini-reading"><p4><h4>Click Here For Mini-Reading: N1000(65% off)</h4></p4></a>
    <a href=""><p4><h4>Click Here For Full-Reading: N5000</h4></p4></a>
    <a href="https://facebook.com/churchspiritual">For Comments</a>

{% endblock %}